import os
from datetime import timedelta

class Config:
    basedir = os.path.abspath(os.path.dirname(__file__))
    BASE_DIR = basedir
    DEBUG = True
    SECRET_KEY = 'mysecretkey'
    SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://admin:password@localhost:8081/Database'
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    JWT_SECRET_KEY = 'dst-super-secret'
    JWT_ACCESS_TOKEN_EXPIRES = timedelta(minutes=30)
    DST_MSSQL = 'Driver={FreeTDS};Server=IP;port=1433;UID=sa;PWD=12345678;Database=mydb'